.styleCard {
    width: 20rem;
    margin: 12px;
    border-radius: 15px;
    position: relative;
}

.styleCardCarrito {
    width: 9rem;
    border-radius: 15px;
}


.styleCard:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    transition: all 0.7s linear;
}

.overflow {
    overflow: hidden;
}

.detailCard {
    width: 60%;
}

.detailBottom {
    display: flex;
    gap: 10px;
}


.detailBottom .number {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    overflow: visible;
}

.card-img-top {
    transform: scale(1);
    transition: all 0.5s;

}

.card-img-top:hover {
    transform: scale(1.1);
}

.card-text {
    font-weight: bolder;
    font-size: 15px;

}

.cardProducto {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

span {
    font-weight: bold;
}

.cardImage {
    transform: scale(1);
    transition: all 0.5s;
}

.cardImage:hover {
    transform: scale(1.2);
}

.backCart {
    text-align: center;
}


.buttomCarrito {
    position: absolute;
    left: 85%;
    padding-bottom: 20px;
    width: 200px;
}

.buttomCompra {
    position: inherit;
    text-decoration: none;
    width: 200px;
}





.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-size: 17px !important;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
    font-size: 20px;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}